@import 'colors';
@import 'fonts';

.btn {
  cursor: pointer;
  display: inline-block;
  color: $white;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  padding: 0.75rem 1rem;
  font-weight: $font-weight-normal;
  background-color: $primary-color;
  line-height: $line-height-base;
  border: 1px solid $primary-color;
  font-size: $font-size-base;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
  }

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &.outline{
    background: none;

  }
}

// Button Colors
.btn-primary {
  border-color: $primary-color;
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}

.btn-secondary {
  background-color: $secondary-color;
  border-color: $secondary-color;

  &:hover {
    background-color: darken($secondary-color, 10%);
    border-color: darken($secondary-color, 10%);
  }
}

.btn-tertiary {
  background-color: $tertiary-color;
  border-color: $tertiary-color;

  &:hover {
    background-color: darken($tertiary-color, 10%);
    border-color: darken($tertiary-color, 10%);
  }
}

.btn-warning {
  background-color: $warning-color;
  border-color: $warning-color;

  &:hover {
    background-color: darken($warning-color, 10%);
    border-color: darken($warning-color, 10%);
  }
}

.btn-danger {
  background-color: $danger-color;
  border-color: $danger-color;

  &:hover {
    background-color: darken($danger-color, 10%);
    border-color: darken($danger-color, 10%);
  }
}

.btn-success {
  background-color: $success-color;
  border-color: $success-color;

  &:hover {
    background-color: darken($success-color, 10%);
    border-color: darken($success-color, 10%);
  }
}

.input__wrapper{

  gap: .5rem;
  display: flex;
  flex-direction: column;

  .input__label {
    font-size: 1rem;
    font-weight: 500;
    font-family: $font-family-sans-serif;
  }

  .input__field{
    padding: .75rem 1rem;
    border-radius: .5rem;
    transition: all .2s linear;
    border: 1px solid #c9ddcc;

    &:focus{
      border-color: transparent;
      box-shadow: 0 0 8px rgba($color: #000000, $alpha: .1);
    }
  }
}

.user__auth__form{
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all .5s linear;
}
