<div class="pro__card">
  <div class="pro__card__body">
    <h4 class="title">Book a session with Capital Connect</h4>
    <p class="body">get personalized insights, expert advice, and tailored strategies for your business</p>
    <!-- <a target="_blank" href="https://calendly.com/investor-eligibility/investor-preparedness" class="cta">Book session</a> -->
    <!-- <a href="#" class="cta">Book session</a> -->
    <a class="cta"><button href="#" (click)="createBooking()" >Book session</button></a>


  <app-modal   [visible]="visible" title="Payment Instructions" helperText="Make payments to facilitate your session" >
    <div >
      <iframe [src]="redirectUrl" width="100%" height="600"></iframe>
    </div>

    <div class="temp__schedule">
      <a *ngIf="booking" href="https://calendly.com/investor-eligibility/investor-preparedness" target="_blank">Go to Calendly</a>

      <a *ngIf="checkStatus">
        <button (click)="checkPaymentStatus()">Check Payment Status</button>
      </a>
    </div>
  
  </app-modal>

  </div>
</div>
