<ng-container *ngIf="submit$ | async"/>

<div class="container">
    <div class="content">
        <h2>Investor Preparedness</h2>
        <p>Let's evaluate your current status! This will help us determine if you need assistance in refining your details and assessing your investor preparedness.</p>
        <p class="call__to__action"><span>Not sure about Business Financials term?</span> <a href="">Hover on any highlighted text to get help.</a></p>
        <ng-container *ngIf="questions$ | async as questions">
          <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div *ngFor="let question of questions; let i = index" class="input__wrapper">
              <label class="input__label">{{question.text}}<sup>*</sup></label>
              <a>Why do we ask this?</a>
              @if(question.type === field_type.SINGLE_CHOICE){
                <div class="form__col">
                  <p-dropdown
                    [options]="question.answers"
                    optionLabel="text"
                    optionValue="id"
                    class ="input__field"
                    styleClass ="w-full gap-4"
                    [formControlName]="'question_' + question.id"
                    placeholder="Select option" />
                </div>
              }
              @else if(question.type === field_type.MULTIPLE_CHOICE){
                <div class="form__col">
                  <p-multiSelect
                    class ="input__field"
                    styleClass ="w-full gap-4"
                    [options]="question.answers"
                    optionLabel="text"
                    optionValue="id"
                    [formControlName]="'question_' + question.id"
                    [placeholder]="'Select option'" />
                </div>
              } @else if (question.type === field_type.TRUE_FALSE){
                <div class="radio__form">
                  <div *ngFor="let answer of question.answers">
                    <input type="radio" [formControlName]="'question_' + question.id" [value]="answer.id">
                    <label>{{ answer.text }}</label>
                  </div>
                </div>
              }
              @else if(question.type === field_type.SHORT_ANSWER){
                <div  class="form__col">
                  <input class="input__field" [formControlName]="'question_' + question.id" type="text" placeholder="" />
                </div>
              }
            </div>
            <div class="cta__group">
              <button type="submit" [disabled]="!formGroup.valid" class="btn" [ngClass]="{'disabled-btn': !formGroup.valid }">Let's Begin</button>
              <a routerLink ="/business" type="button" class="button__link" >Skip and go back to dashboard</a>
          </div>
        </form>
      </ng-container>
    </div>
</div>
