<ng-container *ngIf="initRoute$ | async"></ng-container>
<ng-container *ngIf="resend$ | async"></ng-container>
<app-welcome-template>
<section class="form__section">
  <div class="forms__group">
    <img src="assets/img/logo.png" alt="Logo" />
    <h3 class="form__role__label">Verify email</h3>

    @if(isWaitingForVerification){
      <span class="text">
        Check your email or resend verification in <span class="timer">{{timerValue}}</span> seconds.
      </span>

    } @else {

      <div class="input__wrapper">
        <input [(ngModel)]="email" [ngClass]="{'input-error' : !isValidEmail(email) && email.length }" type="text"
          name="email" class="input__field" placeholder="Enter email" />
      </div>

      <div class="flex w-full gap-4 items-center">
        <button (click)="goToLogin()" class="btn btn-success flex-1">Login</button>
        <button [ngClass]="{'disabled-btn': !isValidEmail(email) }" (click)="resendEmail()" class="btn flex-1">Resend</button>
      </div>

    }

  </div>

</section>
</app-welcome-template>
