<ng-container *ngIf="questions$ | async"></ng-container>

<div class="container">
    <div class="content">
        <h2>Business Financials</h2>
        <p>Let's find out how your Business financials are! This will help us know if you need help defining your financials and how investor ready you are.</p>
        <p class="call__to__action"><span>Not sure about Business Financials term?</span> <a href="">Hover on any highlighted text to get help.</a></p>

        <div class="radio__buttons">
            <label>{{questions[0]?.text}}</label>
            <div class="radio__form">
              @for (answer of questions[0]?.answers; track $index) {
                <div class="input__field">
                    <input type="radio" name="has_financial_statements" [value]="answer?.weight">
                    <label>{{answer?.text}}</label>
                </div>

              }
            </div>
        </div>
        <div class="cta__group">
            <button class="btn" (click)="setNextScreen()">Let's Begin</button>
            <button class="button__link">Skip and go back to dashboard</button>
        </div>

    </div>
</div>