@import '../../../../styles/main.scss';

.main__content{
    display: grid;
    padding-bottom: 1rem;
    grid-template-rows: auto max-content;
    
    .container{
        gap: 2rem;
        margin: auto;
        width: 100%;
        display: flex;
        padding: 3rem .5rem;
        text-align: center;
        align-items: center;
        flex-direction: column;
        >svg{
            width: 120px;
            height: 120px;
        }
        >h2{
            font-size: 1.5rem;
            font-weight: $font-weight-medium;
            font-family: $font-family-sans-serif;
        }
        >a{
            display: block;
            line-height: 17.09px;
            color: $primary-color;
            text-decoration: none;
            font-size: $font-size-sm;
            font-weight: $font-weight-medium;
            font-family: $font-family-sans-serif;
        }
    }

    img{
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;
    }
}


@include when-screen-is-atleast(large){
    .main__content{
        .container{
            width: 40rem;
            padding: 3rem 0 0 0;
            >svg{
                width: 180px;
                height: 180px;
            }
            >h2{
                font-size: 2rem;
            }
        }
        img{
            width: 90%;
        }
    }
}