<app-overview-section>
  <app-card [detail]="{title: 'Matched Businesses', value: '20', featured: true}" (click)="showDialog()">
    <p class="helper__text text__yellow">10 perfect match</p>
  </app-card>
  <app-card [detail]="{title: 'Matched Advisors', value: '4', featured: false}" >
    <p class="helper__text text__red">views</p>
  </app-card>
</app-overview-section>

<app-modal [visible] ="visible" title="Matched Businesses" [value]="matchedBusinesses.length" helperText ="You had a good match with this businesses">
  <div class="flex mx-auto items-center justify-center text-center no-data" *ngIf="!matchedBusinesses.length">
    You have not matched with any business yet <br /> check in 48 hrs
  </div>
  <div class="flex flex-col gap-4">
    @for(business of matchedBusinesses; track $index;){
      <div class="flex justify-between items-center">
        <span>{{$index +1}}</span>
        <span>{{business.name}}</span>
        <span>{{business.sector}}</span>
        <div class="flex">
          <a class="">More details</a>
          <a class="">Connect</a>
        </div>
      </div>
    }
  </div>
</app-modal>
