<form action="">
    <div class="input__wrapper">
        <label class="input__label">Do you have a teaser document for this transaction? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Type number of years"/>
            <select class="input__field">
                <option value="">Select currency</option>
            </select>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Do you have a detailed Pitch Deck for your transaction? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Type number of years"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Have you prepared any financial forecasts in relation to the potential fund raise? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Type number of years"/>
        </div>
    </div>
</form>