<ng-container *ngIf="sectionForm$ |  async"></ng-container>
<ng-container *ngIf="isSectionFormValid$ | async"></ng-container>
<ng-container *ngIf="nextOperation$ | async"></ng-container>

<div class="container" >
  <form [formGroup]="sectionForm" class="form-container">
    <mat-card>
      <mat-card-title>Section</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Section Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Section Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </form>
  
  <div class="step-actions">
    <button (click)="nextStep()" 
            [disabled]="!isSectionFormValid"
            [ngClass]="{'disabled-btn' : !isSectionFormValid }"
      class="btn btn-primary">Next</button>
  </div>

</div>


