<div class="main">
  <div class="navbar">
<!--    <button (click)="toggleVisibility()"><mat-icon>menu</mat-icon></button>-->
    <app-navbar on_dashboard="true" />
  </div>

  <main>
    <p class="brand__name">Business Name</p>
    <div class="left__col">
      <!--      <app-profile-status />-->
      <app-overview />
      <app-schedules-section [title]="'Upcoming Schedule'" [subTitle]="'Talk to a representative at Capital connect'" [body]="'Book an appointment today to talk to one of our investment advisors'" [linkLabel]="'Book appointment'"/>
      <app-schedules-section [subTitle]="'Do you have a special criteria you want to invest in?'" [body]="'We can tailor a special for for you, submit your request today!!'" [linkLabel]="'Submit special criteria form request'" [link]="'mailto:capital@raisin.co.ke'"/>
      <!--      <app-score-section />-->
    </div>
    <div class="right__col">
      <!--      <app-notifications />-->
      <app-assessment-summary [title]="'Schedule a Session with an Advisor'" [body]="'Book a session with an advisor at Capital Connect Africa to gain personalized insights, expert advice, and tailored strategies for your business growth'" [linkLabel]="'Unlock the whole summary'"/>
      <app-advertisement-space [title]="'Advertisement Space'" [body] ="'This space will be used for advertisements'"/>
    </div>
  </main>
</div>

