<section>
  <div class="content">
    <div class="text__content">
      <h3>You’re 30% prepared for investors</h3>
      <p>We have tailored suggestions to help you get 100% ready for investor funding, reach out today to get professional help!</p>
      <ul class="processes">
        <li *ngFor="let process of processes; index as i">
          <span class="icon" [ngClass]="{red: !process.completed, green: process.completed}">
            <mat-icon *ngIf="!process.completed">close</mat-icon>
            <mat-icon *ngIf="process.completed">check</mat-icon>
          </span>
          <p>{{process.process}}</p>
        </li>
      </ul>
    </div>
    <div class="chart__content">
      <p class="ratio">0/3</p>
      <canvas id="donutChart"></canvas>
    </div>
  </div>
  <button>Check suggested actions now!</button>
</section>
