@import '../../../../styles/main.scss';

$py: 1rem;
$gap: 30px;

.progress-bar{
    display: flex;
    padding: 1rem;
    background-color: #e6edeb;
    .steps{
        overflow: hidden;
        position: relative;
        border-radius: 6px;
        align-items: center;
        border: 1px solid #b2b2b2;
        width: 100%;
    }
    .step{
      &.fill{
        background-color: white;
        .step__content{
        > h4{
            border: none;
            color: white;
            background-color: $secondary-color;
          }
        }
      }
        .step__content{
            gap: 1rem;
            display: none;
            color: $gray-550;
            position: relative;
            padding: 1rem 2rem 1rem 1rem;
            align-items: center;

            > h4{
                display: flex;
                width: 2.5rem;
                height: 2.5rem;
                font-size: 14px;
                border-radius: 50%;
                align-items: center;
                line-height: 18.75px;
                justify-content: center;
                border: 2px solid $gray-550;
                font-weight: $font-weight-medium;
                font-family: $font-family-roboto;
                *{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 0;
                  margin: 0;
                }
            }
            .description{
                text-transform: capitalize;
                font-weight: $font-weight-medium;
                font-family: $font-family-roboto;
                h3{
                  color: #000;
                  line-height: 20px;
                  font-size: 1rem;
                    margin: 0;
                }
                p{
                  margin: 0;
                  font-size: 12px;
                }
            }

            //&::after,
            //&::before{
            //    content: "";
            //    right: 5%;
            //    width: 1px;
            //    height: 59%;
            //    display: block;
            //    position: absolute;
            //    transform-origin: top right;
            //    border-left: 1px solid #b2b2b2;
            //}
            //
            //&::after{
            //    top: 0;
            //    transform: rotate(-30deg);
            //    transform-origin: top right;
            //}
            //
            //&::before{
            //    bottom: 0;
            //    transform: rotate(30deg);
            //    transform-origin: bottom right;
            //}

            &.active{
                display: flex;
                color: white;
                background-color: $primary-color;
                > h4{
                    border-color: $white;
                    color: $white;
                    //background-color: $secondary-color;
                }
              .description{
                h3{
                  color: $white;
                }
              }
                //&::after,
                //&::before{
                //    display: none;
                //}
            }

        }
        //&:last-child{
        //    .step__content{
        //        &::after,
        //        &::before{
        //            display: none;
        //        }
        //
        //    }
        //}
    }
}

@include when-screen-is-atleast(large){
    .progress-bar{
        padding: 2rem 0;
        justify-content: center;
        .steps{
            width: auto;
            display: flex;
        }
        .step{
            .step__content{
                display: flex;
                padding: 1rem 2rem;
                //&.active{
                //    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
                //}
            }
        }
    }
}
