<form action="">
    <div class="input__wrapper">
        <label class="input__label">How many years of audited financial statements do you have? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Type number of years"/>
            <select class="input__field">
                <option value="">Select currency</option>
            </select>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">What is the annual revenue from the last full financial year? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Enter last year's revenue"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">What is the annual profit before Tax from the last full financial year? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Enter last year's profit"/>
        </div>
    </div>
</form>