<form action="">
    <div class="input__wrapper">
        <label class="input__label">Are you clear on your market? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Value of assets"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Do you have a customer acquisition strategy? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Debt, Loans & Liabilities held"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Do you have a financial plan and forecast? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Debt, Loans & Liabilities held"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Do you know your preffered structure for the capital raise? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Debt, Loans & Liabilities held"/>
        </div>
    </div>
</form>