<ng-container *ngIf="questionForm$ |async"></ng-container>
<ng-container *ngIf="isQuestionFormValid$ | async"></ng-container>
<ng-container *ngIf="questions$ | async"></ng-container>
<ng-container *ngIf="subSection$ | async"></ng-container>

<app-ui [title]="'Add Question'">
  <div class="form__card">
    <form [formGroup]="questionForm" (ngSubmit)="submit()" class="user__auth__form">
      <div class="input__wrapper">
        <div class="form__row">
          <div class="form__col">
            <label class="input__label">Subsection<sup>*</sup></label>
            <select class="input__field">
              @if(subsection){
                <option [value]="subsection" disabled selected >{{subsection.name}}</option>
              }
            </select>
          </div>

        </div>
      </div>

      <div class="input__wrapper">
        <div class="form__row">
          <div class="form__col">
            <label class="input__label">Question<sup>*</sup></label>
            <input formControlName="text" class="input__field" placeholder="enter question" />
          </div>
        </div>
      </div>

      <div class="input__wrapper">
        <label class="input__label">Question Type<sup>*</sup></label>
        <div class="input__group">
          @for (type of questionTypes; track $index) {
            <div>
              <input [value]="type.value" type="radio" name="type" formControlName="type" />
              <label> {{type.label}}</label>
            </div>
          }
        </div>
      </div>
    </form>
  </div>
  <div class="action__buttons">
    <button (click)="cancel()" class="btn__outline">Back</button>
    <div class="inline__cta">
      <button [ngClass]="{'disabled-btn' : !isQuestionFormValid }" [disabled]="!isQuestionFormValid" (click)="submit()"
              class="btn__primary">Create Question</button>
    </div>

  </div>
</app-ui>

