@import '../../../../business/styles/business.components.steps.scss';
.input__wrapper {
    margin-bottom: 1rem;
  }
  
  .pills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: $white;

  }
  
  .pill {
    position: relative;
    padding: 8px 12px;
    border-radius: 50px;
    background-color:$primary-color;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .pill.active {
    background-color: $success-color;
    color: $white;
  }
  
  .pill:hover {
    background-color:$success-color;
    color: $white;
  }
  
  .pill .close-btn {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
  }






  .selected-subsectors {
    margin-top: 1rem;
    
    h3 {
      margin-bottom: 0.5rem;
    }
  
    .selected-pill {
      display: inline-flex;
      align-items: center;
      padding: 8px 12px;
      border-radius: 50px;
      background-color: $success-color;
      color: $white;
      margin: 4px;
      cursor: default;
    }
  
    .remove-icon {
      margin-left: 8px;
      cursor: pointer;
      font-weight: bold;
    }
  }
  
  .pill {
    .remove-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
      cursor: pointer;
      color: $white;
    }
  }
  
  
  .tooltip {
    position: absolute;
    font-family: $font-family-roboto;
    background-color: $primary-color;
    color: $white;
    padding: 20px;
    border-radius: 4px;
    z-index: 1000;
    pointer-events: none;
    white-space: normal;  
    // opacity: 0.5;
    font-size: 12px;
    max-width: 400px;  
    word-wrap: break-word;  
  }
