@import '../../../../styles/main.scss';

.main__content{
    gap: 3rem;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;

    .content__container{
        padding: 2rem 1rem;
        border-radius: 1rem;
        background-color: #FFFFFF;
        border: 1px solid #EFF0F6;
        box-shadow: 0 5px 1rem 0 #080F340F;

        .header{   
            gap: .5rem;
            display: flex;
            line-height: 22px;
            flex-direction: column;

            > strong{
                display: block;
                font-size: 13px;
                font-weight: 800;
                color: $secondary-color;
                font-family: $font-family-sans-serif;
            }

            .steps__bar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                > p{
                    color: #0D0B26;
                    line-height: 20px;
                    font-size: $font-size-sm;
                    font-family: $font-family-roboto;
                    font-weight: $font-weight-medium;
                }

                .indicators{
                    gap: 1.25rem;
                    display: flex;
                    align-items: center;
                    li{
                        height: 6px;
                        width: 1.75rem;
                        border-radius: 3px;
                        background-color: #b2b2b2;
                        &.active{
                            background-color: $secondary-color;
                        }
                    }
                }
            }
        }

    }

    .cta__group{
        gap: 1rem;
        display: flex;
        flex-direction: column-reverse;

        button{
            padding: .75rem 2rem;
            &.btn-primary {
                &.outline{
                    color: $primary-color;
                    &:hover{
                        color: white;
                    }
                    
                }
            }
        }
        > a{
            display: block;
            color: $primary-color;
            text-decoration: none;
            font-size: $font-size-sm;
            font-weight: $font-weight-medium;
            font-family: $font-family-sans-serif;
        }
    }
}

@include when-screen-is-atleast(large){
    .main__content{
        width: 60%;
        padding: 2rem;
        .content__container{
            padding: 2rem 3rem;
        }
        .cta__group{
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
    }
}
