<ng-container *ngIf="resetPassword$ | async"></ng-container>
<ng-container *ngIf="initRoute$ | async"></ng-container>
<ng-container *ngIf="listenToFormChanges$ | async"></ng-container>

<div class="container">

  <h3>Reset Password</h3>

  <form [formGroup]="resetPasswordForm" class="user__auth__form">
    <div class="input__wrapper">
      <label class="input__label">Password</label>
      <input [ngClass]="{'input-error' : isTouchedOrDirty('password') && !isValid('password') }"
        formControlName="password" type="password" name="password" class="input__field" placeholder="Enter password" />
      <ng-container *ngIf="isTouchedOrDirty('password')">
        <span *ngIf="!isValid('password')" class="error-text">Password is required <sup>*</sup></span>
      </ng-container>
    </div>

    <div class="input__wrapper">
      <label class="input__label">Confirm Password</label>
      <input [ngClass]="{'input-error': isTouchedOrDirty('password') && !passwordsAreSame}"
        formControlName="confirmPassword" type="password" name="confirm__password" class="input__field"
        placeholder="Enter password again" />
      <ng-container *ngIf="isTouchedOrDirty('confirmPassword')">
        <span *ngIf="!passwordsAreSame" class="error-text">
          Passwords do not match
        </span>

      </ng-container>
    </div>

    <button [disabled]=" resetPasswordForm.invalid || !passwordsAreSame" [ngClass]="{'disabled-btn': resetPasswordForm.invalid || !passwordsAreSame}" (click)="submitCredentials()"
      class="btn btn-primary">Reset Password</button>
  </form>

  <button (click)="goHome()"
  class="btn btn-primary">Back home</button>
</div>