@import '../../../../styles/main.scss';

.main__content{
    gap: 3rem;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;

}

@include when-screen-is-atleast(large){
    .main__content{
        width: 60%;
        padding: 2rem;
    }
}
