<app-navbar />

<div class="dashboard-container">
  <mat-stepper #stepper>
    <mat-step label="Section">
      <app-section-form></app-section-form>
      <div class="step-actions">
        <button matStepperNext (click)="nextStep()" class="btn btn-primary">Next</button>
      </div>
    </mat-step>
    <mat-step label="Subsection">
      <app-sub-section-form></app-sub-section-form>
      <div class="step-actions">
        <button matStepperPrevious class="btn btn-tertiary" (click)="prevStep()">Back</button>
        <button matStepperNext (click)="nextStep()" class="btn btn-primary">Next</button>
      </div>
    </mat-step>
    <mat-step label="Questions">
      <app-question-form></app-question-form>
      <div class="step-actions">
        <button matStepperPrevious class="btn btn-tertiary" (click)="prevStep()">Back</button>
        <button matStepperNext (click)="nextStep()" class="btn btn-primary">Finish</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

