<app-ui />
<!--TODO: REVIEW AND UNCOMMENT ME-->
<!--<app-navbar />-->
<!--<mat-card>-->
<!--  <mat-card-content>-->
<!--    <app-section-selection (selectedSection)="onSectionSelected($event)"></app-section-selection>-->
<!--    <app-step-selection [steps]="steps" (selectedStep)="onStepSelected($event)"></app-step-selection>-->
<!--    <app-question-form-->
<!--      [currentStep]="selectedStep"-->
<!--      [currentSection]="selectedSection"-->
<!--      (questionCreated)="addQuestion($event)"-->
<!--    ></app-question-form>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->

<!--<table mat-table [dataSource]="questions" class="mat-elevation-z8" *ngIf="questions.length > 0">-->
<!--  <ng-container matColumnDef="section">-->
<!--    <th mat-header-cell *matHeaderCellDef> Section </th>-->
<!--    <td mat-cell *matCellDef="let question"> {{question.section}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="step">-->
<!--    <th mat-header-cell *matHeaderCellDef> Step </th>-->
<!--    <td mat-cell *matCellDef="let question"> {{question.step}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="questionText">-->
<!--    <th mat-header-cell *matHeaderCellDef> Question </th>-->
<!--    <td mat-cell *matCellDef="let question"> {{question.questionText}} </td>-->
<!--  </ng-container>-->

<!--  <ng-container matColumnDef="options">-->
<!--    <th mat-header-cell *matHeaderCellDef> Options </th>-->
<!--    <td mat-cell *matCellDef="let question"> {{question.options.join(', ')}} </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->
