@import "../../../../styles/main.scss";

.dashboard-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
mat-stepper {
  width: 100%;
  max-width: 60vw;
  background-color: white;

  @include when-screen-is-atmost(small) {
    max-width: 600px;
  }
}
mat-card {
  margin-bottom: 20px;
}
.step-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
