@import '../../../../styles/main.scss';

.container {
  color: $primary-color;
}

.table-header {
  display: flex;
  justify-content: flex-end; /* Align search to the right */
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.p-input-icon-left {
  display: flex;
  align-items: center;
  position: relative;
}

.p-input-icon-left i {
  position: absolute;
  left: 10px;
  color: #999;
}

::ng-deep .p-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-input-icon-left input {
  padding-left: 2rem; /* Adjust padding to make room for the icon */
  padding: 0.5rem 1rem;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.mat-elevation-z8 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
}

.p-datatable {
  margin-top: 1rem;
}

.p-datatable-thead > tr > th {
  padding: 15px 20px;
  text-align: left;
}

.p-datatable-tbody > tr > td {
  padding: 15px 20px;
  text-align: left;
  height: 50px; /* Increase row height */
}

.full-width-table {
  width: 100%;
}

.input-error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.875rem;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:disabled {
    background-color: lighten($primary-color, 40%);
    cursor: not-allowed;
  }
}

tr {
  height: 3rem !important;
}
