<ng-container *ngIf="questionsFetch$ | async"></ng-container>
<ng-container *ngIf="sectionInfo$ | async"></ng-container>
<ng-container *ngIf="init$ | async"></ng-container>

  <app-ui [title]="subsectionName">
    <div class="btn-grp">
      <a [routerLink] ="'/questions/section/'+sectionId" class="btn btn-success"><mat-icon>arrow_left</mat-icon> Back</a>
      <a [routerLink] ="'/questions/sub-section/'+routeId+'/add-question'" class="btn btn-primary">Add Question <mat-icon>add</mat-icon></a>
    </div>
      <ng-container *ngIf="questions$ | async">
        <app-question-card *ngFor="let question of questions" [text] ="question.text" [type] ="question.type" [id] ="question.id" [answers]="question.answers" [subSectionId]="subSectionId" [sectionId]="sectionId"/>
      </ng-container>

  </app-ui>

