<!--<ng-container *ngIf="fetchedSubSection$ | async"></ng-container>-->
<!--<ng-container *ngIf="nextOperation$ |async"></ng-container>-->
<!--<ng-container *ngIf="subsectionForm$ | async"></ng-container>-->
<!--<ng-container *ngIf="isSubsectionFormValid$ | async"></ng-container>-->

<!--<ng-container *ngIf="fetchedSection$ | async as section">-->
  <app-ui [title]="subsectionName">
    <div class="btn-grp">
      <a [routerLink] ="'/questions/section/'+sectionId" class="btn btn-success"><mat-icon>arrow_left</mat-icon> Back</a>
      <a [routerLink] ="'/questions/sub-section/'+routeId+'/add-question'" class="btn btn-primary">Add Question <mat-icon>add</mat-icon></a>
    </div>
      <ng-container *ngIf="questions$ | async">
        <app-question-card *ngFor="let question of questions" [text] ="question.text" [type] ="question.type" [id] ="question.id" [answers]="question.answers" [subSectionId]="subSectionId"/>
      </ng-container>

  </app-ui>
<!--</ng-container>-->
