<form action="">
    <div class="input__wrapper">
        <label class="input__label">What kind of capital has been made to date? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Add capital value"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">What kind of capital are you looking for? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Add capital here"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">How much capital investment is the business seeking to raise? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <select class="input__field">
                <option value="">Add here</option>
            </select>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">What will be your main use of funds? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <textarea rows="3" class="input__field" placeholder="Write Something.."></textarea>
        </div>
    </div>
</form>