<app-ui [title]="'Create section'">
<div class="form__card">
    <form class="user__auth__form">
      <div class="input__wrapper">
        <div class="form__row">
          <div class="form__group">
            <label class="input__label">Title<sup>*</sup></label>
            <input class="input__field" placeholder="enter title"/>
          </div>

        </div>
      </div>

      <div class="input__wrapper">
        <label class="input__label">Description<sup>*</sup></label>
        <textarea class="input__field" placeholder="Write something..." rows="5"></textarea>
      </div>
    </form>
  </div>
  <div class="action__buttons" >
    <button class="btn__outline">Cancel</button>
    <button class="btn__primary" >Create Section</button>
  </div>
</app-ui>
