<ng-container *ngIf="sideNavIsHidden$ | async as isHidden">
  <nav class="side__nav" [ngClass]="{shrunk: !showNav, }">
    <button class="floating__action__button" *ngIf="!isHidden"><mat-icon
        *ngIf="showNav">chevron_left</mat-icon><mat-icon *ngIf="!showNav">chevron_right</mat-icon></button>
    <button class="floating__action__button" *ngIf="isHidden" (click)="hide_navbar()"><mat-icon
        *ngIf="showNav">chevron_left</mat-icon><mat-icon *ngIf="!showNav">chevron_right</mat-icon></button>
    <img src="assets/img/logo.png" alt="logo" class="logo" />
    <ul class="links">
      @for (link of links; track $index){
      <li><a [routerLink]=link.href [routerLinkActiveOptions]="{exact: link.exact}" routerLinkActive='active'><mat-icon
            *ngIf="link.icon">{{link.icon}}</mat-icon> <span>{{link.label}}</span></a></li>
      }
    </ul>
    <div *appRole="'user'">
      <app-pro-badge *ngIf="showNav " />
    </div>
  </nav>
</ng-container>