<nav class="side__nav" [ngClass] ="{shrunk: !show_nav}" >
  <button class="floating__action__button" (click)="toggle_navbar()"><mat-icon *ngIf="show_nav">chevron_left</mat-icon><mat-icon *ngIf="!show_nav">chevron_right</mat-icon></button>
  <img src="assets/img/logo.png" alt="logo" class="logo" />
  <ul class="links">
    <li><a href="/business" class="active"><mat-icon>grid_view</mat-icon> <span>Dashboard</span></a></li>
    <li class="marked"><a href="/business/financials" ><mat-icon>business_center</mat-icon> <span>My Business</span></a></li>
    <li><a href=""><mat-icon>inventory_2</mat-icon> <span>My Documents</span></a></li>
    <li><a href=""><mat-icon>help</mat-icon> <span>Help Desk</span></a></li>
    <li><a href=""><mat-icon>credit_card</mat-icon> <span>Billing</span></a></li>
    <li><a href=""><mat-icon>settings</mat-icon> <span>Settings</span></a></li>
    <li><a href=""><mat-icon>logout</mat-icon><span>Sign Out</span></a></li>
  </ul>
  <app-pro-badge *ngIf="show_nav"/>
</nav>
