<ng-container *ngIf="sideNavIsHidden$ | async as isHidden">
  <nav class="side__nav" [ngClass]="{shrunk: !showNav, }">
    <button class="floating__action__button" *ngIf="!isHidden"><mat-icon
        *ngIf="showNav">chevron_left</mat-icon><mat-icon *ngIf="!showNav">chevron_right</mat-icon></button>
    <button class="floating__action__button" *ngIf="isHidden" (click)="hide_navbar()"><mat-icon
        *ngIf="showNav">chevron_left</mat-icon><mat-icon *ngIf="!showNav">chevron_right</mat-icon></button>
    <img src="assets/img/logo.png" alt="logo" class="logo" />
    <ul class="links">
      <li><a class="active"><mat-icon>grid_view</mat-icon> <span>Dashboard</span></a></li>
<!--      marked class gives a red dot-->
      <li class=""><a><mat-icon>business_center</mat-icon> <span>My
            Business</span></a></li>
      <li><a><mat-icon>inventory_2</mat-icon> <span>My Documents</span></a></li>
      <li><a><mat-icon>help</mat-icon> <span>Help Desk</span></a></li>
      <li><a><mat-icon>credit_card</mat-icon> <span>Billing</span></a></li>
      <li><a><mat-icon>settings</mat-icon> <span>Settings</span></a></li>
<!--      <li><a href=""><mat-icon>logout</mat-icon><span>Sign Out</span></a></li>-->
    </ul>
    <app-pro-badge *ngIf="showNav" />
  </nav>
</ng-container>
