@import "../../../../styles/main.scss";

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.p-card {
  width: 300px;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;

  button {
    margin: 5px;
  }
}

.p-button {
  width: 15rem;
  padding: 2rem;
}