<div class="navbar">
  <app-navbar [isAdmin]="true" on_dashboard="true" />
</div>

<app-ui [showLogo]="false" title="Dashboard">
  <div class="main">
    <main>
      <div class="left__col">
        <div class="button-group">
          <button pButton type="button" label=" Sections" icon="pi pi-question-circle" class="btn btn-primary" (click)="navigateTo('/questions')"></button>
          <button pButton type="button" label=" Sectors" icon="pi pi-sitemap" class="btn btn-primary" (click)="navigateTo('/sectors')"></button>
          <button pButton type="button" label=" Companies" icon="pi pi-building" class="btn btn-primary" (click)="navigateTo('/organization/list')"></button>
        </div>
      </div>
      <!-- <div class="right__col">
        right col
      </div> -->
    </main>
  </div>
</app-ui>