@import "../../../../styles/main.scss";

.main__section {
  padding: 0 1rem;
  width: 100%;
  margin: auto;
  display: block;
  max-width: 1440px;
  min-height: 100svh;
  align-items: center;
  padding-bottom: 2rem;
  background-color: $white;
  grid-template-columns: repeat(2, 1fr);

  .hero__section {
    height: 100%;
    display: none;
    overflow: hidden;
    isolation: isolate;
    position: relative;
    border-radius: 1rem;

    .overlay {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        color: $white;
        padding: 2rem 0;
        font-size: 2.875rem;
        text-align: center;
        font-weight: $font-weight-bold;
        font-family: $font-family-sans-serif;
      }

      img {
        inset: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        object-fit: fill;
        position: absolute;
      }

      > * {
        flex: 1;
      }
    }
  }

  .form__section {
    gap: 1rem;
    width: 100%;
    display: block;
    padding: 2rem 0;
    align-items: center;
    flex-direction: column;
    .logo__wrapper {
      width: 100%;
    }

    img {
      width: 150px;
      display: block;
      margin: 0 auto;
    }

    .forms__group {
      gap: 1rem;
      display: flex;
      flex-direction: column;
      .form__role__label {
        font-size: 1.375rem;
        color: $primary-color;
        font-weight: $font-weight-bold;
        font-family: $font-family-sans-serif;
        margin: 0;
      }

      .tabs {
        gap: 0.625rem;
        display: flex;
        overflow: hidden;
        border-radius: 0.5rem;
        background-color: $primary-color;
        margin: 0;

        button {
          flex: 1;
          color: $white;
          display: block;
          font-size: 1rem;
          cursor: pointer;
          font-weight: 500;
          text-align: center;
          border-radius: 0.5rem;
          line-height: 19.54px;
          padding: 0.75rem 1.25rem;
          transition: all 0.2s linear;
          background-color: transparent;
          font-family: $font-family-sans-serif;

          &.active {
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}

@include when-screen-is-atleast(large) {
  .main__section {
    display: grid;
    padding: 2rem;
    .hero__section {
      display: block;
    }

    .form__section {
      padding: 0;
      width: 70%;
      margin: auto;
      .forms__group {
        > img {
          margin: 0;
          width: 15rem;
          height: 7rem;
        }
        .forms__group {
          width: 60%;
        }
      }
    }
  }
}
