<form action="">
    <div class="input__wrapper">
        <label class="input__label">Do you know how much you are raising and what it will be used for? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Add capital value"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Which documents have you prepared for potential investors as part of the fund raise process? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Add capital here"/>
        </div>
    </div>
</form>