@import "../../../../styles/main.scss";

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.full-width {
  width: 100%;
}
mat-card {
  margin-bottom: 20px;
}

mat-card-title {
  padding: 1em;
}
