<ng-container *ngIf="  subsections$ | async as subsection">
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Subsection</mat-label>
      <mat-select formControlName="subsection" required>
        <mat-option [value]="subsection.id">
          {{subsection.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Question</mat-label>
      <input matInput formControlName="question" required>
    </mat-form-field>

    <label>Question Type</label>
    <mat-radio-group formControlName="questionType" required>
      <mat-radio-button *ngFor="let type of questionTypes" [value]="type.value">
        {{type.label}}
      </mat-radio-button>
    </mat-radio-group>

    <button  mat-raised-button type="submit" [disabled]="!questionForm.valid">Submit</button>
  </form>


</ng-container>