<ng-container *ngIf="submit$ | async"></ng-container>
<ng-container *ngIf="init$ | async"></ng-container>

<div class="container">
  <div class="content">
    <h2>Get Started</h2>
    <p>Let's ask a few questions to understand your current status. This will help us get to know you better as an investor.</p>
    <ng-container *ngIf="questions$ | async as questions">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="radio__buttons" *ngFor="let question of questions; let i = index">
          <label>{{ question.text }}</label>
          <div class="radio__form">
            <div *ngFor="let answer of question.answers" class="input__field">
              <input type="radio" [formControlName]="'question_' + question.id" [value]="answer.id">
              <label>{{ answer.text }}</label>
            </div>
          </div>
        </div>
        <div class="cta__group">
          <button type="submit" [disabled]="!formGroup.valid" class="btn" [ngClass]="{'disabled-btn': !formGroup.valid }">Let's Begin</button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
