<form class="user__auth__form">

  <div class="input__wrapper">
    <div class="form__row">
      <div class="form__col">
        <label class="input__label">Section<sup>*</sup></label>
        <select class="input__field">
          <option value="" disabled selected>Select Section</option>
        </select>
      </div>

    </div>
  </div>
  <div class="input__wrapper">
    <div class="form__row">
      <div class="form__col">
        <label class="input__label">Title<sup>*</sup></label>
        <input class="input__field" placeholder="enter title"/>
      </div>

    </div>
  </div>
  <div class="input__wrapper">
    <label class="input__label">Description<sup>*</sup></label>
    <textarea class="input__field" placeholder="Write something..." rows="8"></textarea>
  </div>
</form>
