<ng-container *ngIf="stepTwoForm$ | async"></ng-container>

<form [formGroup]="stepTwoForm" class="form__grid">
  <div class="input__wrapper">
    <label class="input__label">What is the registration structure of your business?<sup>*</sup></label>
    <select formControlName="registrationStructure" class="input__field">
      @for (structure of registrationStructures; track $index) {
      <option [value]="structure">{{ structure }}</option>
      }
    </select>
  </div>
  <div class="input__wrapper">
    <label class="input__label">How many years has the business been in active operation?<sup>*</sup></label>
    <select formControlName="yearsOfOperation" class="input__field">
      @for (year of yearsOfOperation; track $index) {
      <option [value]="year">{{ year }}</option>
      }
    </select>
  </div>
  <div class="input__wrapper">
    <label class="input__label">What is the stage of growth of your business?<sup>*</sup></label>
    <select formControlName="growthStage" class="input__field">
      @for (stage of growthStages; track $index) {
      <option [value]="stage">{{ stage }}</option>
      }

    </select>
  </div>
  <div class="input__wrapper">
    <label class="input__label">How many employees do you currently have?<sup>*</sup></label>
    <select formControlName="numberOfEmployees" class="input__field">
      @for (employee of numberOfEmployees; track $index) {
      <option [value]="employee">{{ employee }}</option>
      }
    </select>
  </div>

  <div class="input__wrapper">
    <p class="input__label">Are you running the business full-time? <sup>*</sup></p>
  
    <div class="inline__wrapper">
      <div class="inline__field">
        @for(fullTimeBusinessOption of fullTimeBusinessOptions; track $index) {
  
          <input type="radio" formControlName="fullTimeBusiness" [value]="fullTimeBusinessOption.value" id="full-time-yes" />
          <label for="full-time-yes">{{fullTimeBusinessOption.label}}</label>
        }
  
      </div>
  </div>

  </div>
</form>