<form class="form__grid">
    <div class="input__wrapper">
        <label class="input__label">What is the registration structure of your business?<sup>*</sup></label>
        <select class="input__field">
            <option value="">Select business structure</option>
        </select>
    </div>
    <div class="input__wrapper">
        <label class="input__label">How many years has the business been in active operation?<sup>*</sup></label>
        <select class="input__field">
            <option value="">Select years</option>
        </select>
    </div>
    <div class="input__wrapper">
        <label class="input__label">What is the stage of growth of your business?<sup>*</sup></label>
        <select class="input__field">
            <option value="">Select growth stage</option>
        </select>
    </div>
    <div class="input__wrapper">
        <label class="input__label">How many employees do you currently have?<sup>*</sup></label>
        <select class="input__field">
            <option value="">Select number of employees</option>
        </select>
    </div>
    <p class="input__label">Are you running the business full-time? <sup>*</sup></p>
    <div class="inline__wrapper">
        <div class="inline__field">
            <input type="radio" name="full-time" checked/>
            <label for="">Yes, i run it full-time.</label>
        </div>
        <div class="inline__field">
            <input type="radio" name="full-time"/>
            <label for="full-time">No, I run it part-time.</label>
        </div>
    </div>
</form>
