@import '../../styles/main.scss';

.header{
    gap: 3rem;
    display: flex;
    padding: .75rem 1rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 3px rgba($color: #000000, $alpha: .5);

    .menu__button{
        display: flex;
        cursor: pointer;
        background: none;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 90px;
        height: auto;
        display: block;
    }

    .nav__content{
        flex: 1;
        display: none;
        overflow: hidden;
        padding: 0 2rem;
        &.drawer {
            top: 0;
            left: 0;
            width: 0;
            gap: 2rem;
            z-index: 9;
            height: 100svh;
            display: flex;
            position: fixed;
            overflow: hidden;
            border-radius: 1rem;
            flex-direction: column;
            background-color: white;
            justify-content: flex-start;
            padding: 1rem 2rem 2rem 1rem;
            animation: slide_in_right .4s linear forwards;
            box-shadow: 0 0 8px rgba($color: #000000, $alpha: .1);
            .drawer__header{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            strong{
                height: max-content;
            }
            .navbar{
                gap: 2rem;
                height: 100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                .search__box{
                    width: 100%;
                }
                ul{
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    position: relative;
                    li{
                        gap: .5rem;
                        display: flex;
                        span{
                            display: block;
                            color: #031D16;
                            font-size: .95rem;
                            font-weight: 500;
                            font-family: $font-family-sans-serif;
                        }
                    }
                    li:last-child{
                        left: 0;
                        bottom: 0;
                        position: absolute;
                    }
                }
            }
        }
        > *{
            display: block;
        } 
        strong{
            color: #031D16;
            font-weight: 700;
            line-height: 2rem;
            font-size: 1.35rem;
            font-family: $font-family-sans-serif;
        }
        .navbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .search__box{
                display: flex;
                overflow: hidden;
                padding-left: .5rem;
                align-items: center;
                border-radius: 1rem;
                background-color: #F9FAFB;
                >*{
                    display: flex;
                    background: none;
                    align-items: center;
                }
                input{
                    padding-left: 0;
                    padding: .75rem 1rem;
                }
                button{
                    color: $gray-550;
                    padding-left:.5rem;
                }
            }
            ul{
                gap: 2rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li{
                    *{
                        color: $gray-550;
                    }
                    >span{
                        display: none;
                    }
                    &.profile{
                        gap: .5rem;
                        display: flex;
                        align-items: flex-start;
                        .avatar{
                            display: block;
                            width: 2.25rem;
                            height: 2.25rem;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                        .selection{
                            display: flex;
                            font-weight: 500;
                            flex-direction: column;
                            font-family: $font-family-sans-serif;
                            .title{
                                font-size: .8rem;
                                line-height: 17.09px;
                                color: #000000;
                            }
                            .plan{
                                font-size: .7rem;
                                color: #FF5151;
                                line-height: 17.09px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include when-screen-is-atleast(large){
    .header{
        gap: 3rem;
        padding: .75rem 3rem;
        justify-content: flex-start;
        .menu__button{
            display: none!important;
        }
        .logo{
            width: 120px;
        }
        .nav__content{
            &.drawer{
                display: none;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            > *{
                flex: 1;
            } 
        }
    }
}

@keyframes slide_in_right {
    from{
        width: 0;
    }
    to{
        width: 90%;
        opacity: 1;
    }
}

@keyframes slide_out_left {
    from{
        width: 90%;
    }
    to{
        width: 0;
    }
}