@import '../../../../../styles/main.scss';

section{
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans-serif;
  .schedule__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    select{
      display: block;
      cursor: pointer;
      border-radius: 1rem;
      padding: .5rem 1rem;
      background-color: #eef4ee;
    }
    h3{
      color: #031D16;
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .schedule__section{
    h4{
      font-weight: 400;
      font-size: .875rem;
      line-height: 1.5rem;
      padding-bottom: .5rem;
    }
    ul{
      li{
        display: flex;
        border-radius: 6px;
        align-items: center;
        padding: .75rem 1rem;
        border: .5px solid $gray-525;
        justify-content: space-between;
        .schedule{
          gap: 6px;
          display: flex;
          flex-direction: column;
          h5{
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
          }
          p{
            color: #686868;
            font-size: 10px;
            font-weight: 400;
          }
        }
        .action__buttons{
          gap: .5rem;
          display: flex;
          align-items: center;
          >*{
            color: $gray-525;
          }
        }
      }
    }
  }
  .temp__schedule{
    display: grid;
    grid-auto-columns: 50% auto;
    background-color: $green-50;
    border-radius: 8px;
    padding: 1.5rem;
    gap: 1.5rem;
    h3{
      margin: 0;
      font-size: 18px;
      font-weight: 800;
      line-height: 28px;
    }
    p{
      font-size: 1rem;
      margin: 0;
      line-height: 1.5rem;
      padding-right: 1rem;
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-normal;
    }
    a{
      width: max-content;
      text-decoration: none;
      display: block;
      background-color: $primary-color;
      padding: 14px 30px;
      border-radius: 6px;
      font-family: $font-family-sans-serif;
      font-weight: $font-weight-medium;
      font-size: 1rem;
      color: white;
      transition: .2s linear;
      &:hover{
        //background-color: red;
      }
    }
    >div{
      gap: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
}
@include when-screen-is-atleast(large){
  section{
    .schedule__header{
      h3{
        color: #031D16;
        font-weight: 700;
        line-height: 2rem;
        font-size: 1.35rem;
      }
    }
  }
}
