<ng-container *ngIf="requestPassword$ | async"></ng-container>

<form [formGroup]="newPasswordRequestForm" class="user__auth__form">
  <div class="input__wrapper">
    <label class="input__label">Email</label>
    <input [ngClass]="{'input-error' : isTouchedOrDirty('email') && !isValid('email') }" formControlName ="email" type="text" name="email" class="input__field" placeholder="Enter email"/>
    <ng-container *ngIf="isTouchedOrDirty('email')">
      <span *ngIf="!isValid('email')" class="error-text">Email is required <sup>*</sup></span>
    </ng-container>
  </div>
  <div class="flex gap-3 items-center w-full">
   <button class="btn flex-1 btn-secondary" (click)="gotToLogin()">Back</button>
    <button [ngClass]="{'disabled-btn': newPasswordRequestForm.invalid}" (click)="submitRequest()"  class="btn flex-1 btn-primary">Request password</button>
  </div>

</form>
