@import '../../../../styles/main.scss';

.muted__action__link{
  display: flex;
  justify-content: flex-end;
  a{
    display: block;
    color: $gray-550;
    font-weight: 400;
    font-size: .75rem;
    text-decoration: none;
    font-family: $font-family-sans-serif;
  }
}
