<form class="form__grid">
    <div class="input__wrapper">
        <label class="input__label">Company Name <sup>*</sup></label>
        <input class="input__field" placeholder="Enter your company name"/>
    </div>
    <div class="input__wrapper">
        <label class="input__label">What country is your business based?<sup>*</sup></label>
        <select class="input__field">
            <option value="">Select Country</option>
        </select>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Which sector do you operate in?<sup>*</sup></label>
        <select class="input__field">
            <option value="">Select your operation sector</option>
        </select>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Which products and services are you offering?<sup>*</sup></label>
        <select class="input__field">
            <option value="">Select product offering</option>
        </select>
    </div>
</form>
