
<div class="container">
    <div class="content">
        <h2>Investor Eligibility</h2>
        <p>Let's find out how your Business financials are! This will help us know if you need help defining your financials and how investor ready you are.</p>
        <p class="call__to__action"><span>Not sure about Business Financials term?</span> <a href="">Hover on any highlighted text to get help.</a></p>
        
        <div class="cta__group">
            <button class="btn" (click)="setNextScreen()">Let's Begin</button>
            <button class="button__link">Skip and go back to dashboard</button>
        </div>

    </div>
</div>