<form action="">
    <div class="input__wrapper">
        <div class="form__row">
            <div class="form__col">
                <label class="input__label">How would you define your team? <sup>*</sup></label>
                <a href="">Why do we ask this?</a>
                <input class="input__field" type="number" placeholder="Type number of years"/>
            </div>
            <div class="form__col">
                <label class="input__label">Do you have a strategy<sup>*</sup></label>
                <a href="">Why do we ask this?</a>
                <input class="input__field" type="number" placeholder="Type number of years"/>
            </div>
        </div>
    </div>
    <div class="input__wrapper">
        <div class="form__row">
            <div class="form__col">
                <label class="input__label">Do you have strategic milestones? <sup>*</sup></label>
                <a href="">Why do we ask this?</a>
                <input class="input__field" type="number" placeholder="Type number of years"/>
            </div>
            <div class="form__col">
                <label class="input__label">Have you thought about the end game? <sup>*</sup></label>
                <a href="">Why do we ask this?</a>
                <input class="input__field" type="number" placeholder="Type number of years"/>
            </div>
        </div>
    </div>
    <div class="input__wrapper">
        <div class="form__row">
            <div class="form__col">
                <label class="input__label">Do you know your competitors? <sup>*</sup></label>
                <a href="">Why do we ask this?</a>
                <input class="input__field" type="number" placeholder="Type number of years"/>
            </div>
            <div class="form__col">
                <label class="input__label">What makes your product unique?* <sup>*</sup></label>
                <a href="">Why do we ask this?</a>
                <input class="input__field" type="number" placeholder="Type number of years"/>
            </div>
        </div>
    </div>
</form>