@import '../../../../styles/main.scss';

.main__content{
    display: grid;
    padding-bottom: 1rem;
    grid-template-rows: auto max-content;

    img{
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-bottom: 2rem;
    }
}

@include when-screen-is-atleast(large){
    .main__content{
        img{
            width: 90%;
        }
    }
}