<ng-container *ngIf="sectorForm$ | async"></ng-container>
<ng-container *ngIf="isSectorFormValid$ | async"></ng-container>

<app-ui [title]="'New Sector'">
    <div class="form__card">
      <form [formGroup]="sectorForm" class="user__auth__form">
        <div class="input__wrapper">
          <div class="form__row">
            <div class="form__group">
              <label class="input__label">Title<sup>*</sup></label>
              <input formControlName="name" class="input__field" placeholder="enter title" />
            </div>

          </div>
        </div>

        <div class="input__wrapper">
          <label class="input__label">Description<sup>*</sup></label>
          <textarea formControlName="description" class="input__field" placeholder="Write something..."
            rows="5"></textarea>
        </div>
      </form>
    </div>
    <div class="action__buttons">
      <button (click)="cancel()" class="btn__outline">Back</button>
      <button class="btn__primary" (click)="nextStep()" [disabled]="!isSectorFormValid"
        [ngClass]="{'disabled-btn' : !isSectorFormValid }">Create Sector</button>
    </div>
</app-ui>
