@import '../../../../styles/main.scss';

.container {
  color: $primary-color;
}

.user__auth__form {
  max-height: 40rem;
  overflow-y: auto;
  padding-right: 2px;
  padding-left: 2px;
}

.input__wrapper {
  margin-bottom: 1rem;
}

.input__label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.input__field {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.input-error {
  border-color: red;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.error-text {
  color: red;
  font-size: 0.875rem;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:disabled {
    background-color: lighten($primary-color, 40%);
    cursor: not-allowed;
  }
}
