@import "../../../styles/main";

.sub-title,
.score-value{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  font-family: $font-family-sans-serif;
}
.diag-body{
  display: flex;
  border-top: 1px solid #C9DDCC;
  border-bottom: 1px solid #C9DDCC;
  padding: 1.5rem 4rem .5rem 4rem;
}

.score-value{
  font-size: 2.15rem;
  color: $secondary-color;
  padding: .5rem 0 0 0;
}

.details{
  padding: 0 0 0 4rem;
  p{
    color: #000000;
  }
}
.call-to-action{
  padding-top: .5rem;
  a{
    color: $primary-color;
    display: block;
    text-decoration: none;
    border: 1px solid $primary-color;
    padding: 14px 30px;
    width: max-content;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    font-family: $font-family-sans-serif;
  }
}
.actions-list{
  li{
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    font-family: $font-family-sans-serif;
  }
}

.no-data{
  height: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: $font-family-sans-serif;
  line-height: 1.5rem;
  color: #1C1C1E;
}


.business-details{
  padding-bottom: 1rem;
  //border-bottom: 1px solid #C9DDCC;
  .flex-layout{
    padding: .75rem .5rem;
  }
  span{
    flex: 1;
    color: #1C1C1E;
    font-weight: 700;
    display: block;
    text-align: left;
    padding: .75rem 1rem;
    font-family: $font-family-sans-serif;
    width: max-content;
  }
  .cta-group{
    flex: 5;
    gap: 1rem;
    a{
      font-weight: 500;
      color: #064635;
      font-size: 1rem;
      border-radius: 6px;
      border: 1px solid #064635;
      padding: .5rem 2rem;
      font-family: $font-family-sans-serif;
    }
  }
}



*{
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}
body{
  height: 100svh;
  display: grid;
  grid-template-rows: auto max-content;
}

img{
  width: 152px;
  height: 71px;
  display: block;
}
.brand-details{
  display: flex;
  padding:16px 0;
  line-height: 24px;
  flex-direction: column;
  font-size: 16px;
  color: #1C1C1E;
}
.score-section{
  gap: 6px;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}
.score-section h3{
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.score-section h2{
  font-size: 32px;
  font-weight: 700;
  color: #519259;
  line-height: 42px;
}
.brand-details h2{
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 8px;
}

.responses h3,
.brand-details h3{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.brand-details p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.title{
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  padding: .5rem 0;
  border-top: 1px solid #C9DDCC;
  border-bottom: 1px solid #C9DDCC;
}
.responses{
  gap: 1rem;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
}
.responses li{
  gap: .3rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid #C9DDCC;
}
.responses h4{
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

.responses p{
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 14px;
}
footer{
  text-align: center;
  background-color: #064635;
}
footer p{
  font-weight: 400;
  font-size: 10px;
  color: #EEF4EE;
  padding: 16px 0;
}
main{
  padding: 33px 42px 0 33px;
}

.disclaimer{
<<<<<<< HEAD
  margin-top: 3em;
=======
  margin-top: 10em;
>>>>>>> origin/staging
  margin-bottom: 3em;
  padding: 20px;
}