<ng-container *ngIf="stats$ | async"></ng-container>
<app-overview-section>
    <app-card [detail]="{title: 'Investor Preparedness', value: '67 %', featured: true}" [onClick]="showDialog">
      <p class="helper__text text__yellow">See suggested actions</p>
    </app-card>
    <app-card [detail]="{title: 'Profile Views', value: '0', featured: false}" >
      <p class="helper__text text__red">0 interesting views</p>
    </app-card>
    <app-card [detail]="{title: 'Matched Advisors', value: '0', featured: false, period: '0 Past Months'}" ><app-photo-collage/></app-card>
    <app-card [detail]="{title: 'Matched Investors', value: matchedInvestors.toString(), featured: false, period: '0 Past Months'}" ><app-photo-collage/></app-card>
</app-overview-section>

{{visible}}
<!--<app-modal />-->
