@import "../../../styles/main";

.sub-title,
.score-value{
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  font-family: $font-family-sans-serif;
}
.diag-body{
  display: flex;
  border-top: 1px solid #C9DDCC;
  border-bottom: 1px solid #C9DDCC;
  padding: 1.5rem 4rem .5rem 4rem;
}

.score-value{
  font-size: 2.15rem;
  color: $secondary-color;
  padding: .5rem 0 0 0;
}

.details{
  padding: 0 0 0 4rem;
  p{
    color: #000000;
  }
}
.call-to-action{
  padding-top: .5rem;
  a{
    color: $primary-color;
    display: block;
    text-decoration: none;
    border: 1px solid $primary-color;
    padding: 14px 30px;
    width: max-content;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    font-family: $font-family-sans-serif;
  }
}
.actions-list{
  li{
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    font-family: $font-family-sans-serif;
  }
}

.no-data{
  height: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: $font-family-sans-serif;
  line-height: 1.5rem;
  color: #1C1C1E;
}


.business-details{
  padding-bottom: 1rem;
  //border-bottom: 1px solid #C9DDCC;
  .flex-layout{
    padding: .75rem .5rem;
  }
  span{
    flex: 1;
    color: #1C1C1E;
    font-weight: 700;
    display: block;
    text-align: left;
    padding: .75rem 1rem;
    font-family: $font-family-sans-serif;
    width: max-content;
  }
  .cta-group{
    flex: 5;
    gap: 1rem;
    a{
      font-weight: 500;
      color: #064635;
      font-size: 1rem;
      border-radius: 6px;
      border: 1px solid #064635;
      padding: .5rem 2rem;
      font-family: $font-family-sans-serif;
    }
  }
}
