@import '../../styles/main.scss';

.form__grid{
    display: grid;
    gap: 2rem 3rem;
    grid-template-columns: 1;
    transition: all .3s linear;

    .input__wrapper{
        sup{
            color: #FF5151;
        }
        select{
            background:none ;
        }
    }
    >p{
        font-size: 1rem;
        font-weight: 500;
        font-family: $font-family-sans-serif;
        sup{
            color: #FF5151;
        }
    }
    .inline__wrapper{
        gap: 2rem;
        display: flex;
        .inline__field{
            gap: .6rem;
            display: flex;
            
            >*{
                display: block;
                font-size: 1rem;
                font-weight: 400;
                font-family: "Sarabun", sans-serif;
            }
        }
    }
}

@include when-screen-is-atleast(large){
    .form__grid{
        padding: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        
        >p{
            text-align: right;
        }
    }
}