.card__item {
  gap: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  transform: translateY(-0.5rem);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;

  .card__item__header {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .card__item__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card__item__details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      width: 100%;

      div {
        display: flex;
        flex-direction: column;
        align-items: start;

        label {
          font-weight: bold;
          margin-bottom: 0.25rem;
        }

        p {
          margin: 0.25rem 0;
          color: #555;
        }
      }
    }

    .button-group {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;

      .btn {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s, width 0.2s, height 0.2s;
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-text {
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: #000;
          color: #fff;
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          white-space: nowrap;
        }

        &:hover .btn-text {
          display: block;
        }

        &.btn-edit {
          background-color: #007bff;
          color: white;

          &:hover {
            background-color: #0056b3;
          }
        }

        &.btn-delete {
          background-color: #dc3545;
          color: white;

          &:hover {
            background-color: #a71d2a;
          }
        }

        &.btn-view-owner {
          background-color: #28a745;
          color: white;

          &:hover {
            background-color: #1e7e34;
          }
        }
      }
    }
  }

  .card__item__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 1rem;

    .user__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      h3 {
        font-size: 1.25rem;
        margin: 0;
      }

      p {
        margin: 0.25rem 0;
        color: #777;
      }
    }
  }
}
