@import "../../../styles/main";

.overview__section{
  .title__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2{
      font-weight: 500;
      font-size: 1.2rem;
      font-family: $font-family-sans-serif;
    }

    select{
      display: block;
      cursor: pointer;
      border-radius: 1rem;
      padding: .5rem 1rem;
      background-color: #eef4ee;
    }
  }
  .cards__grid{
    gap: 1rem;
    display: grid;
    padding: .5rem 0;

    .helper__text{
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
      &.text__yellow{
        color: $yellow-500;
      }
      &.text__red{
        color: $danger-color;
      }
    }
  }
}
@include when-screen-is-atleast(medium){
  .overview__section{
    .title__bar {
      h2 {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .cards__grid{
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.overview__section{
  .title__bar {
    h2 {
      font-size: 2rem;
    }
  }
}
