@import '../../../../styles/main.scss';

.main__content{
    gap: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    >svg{
        width: 100px;
        height: 100px;
    }

    .buttons__group{
        gap: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        button{
            width: 100%;
            gap: 1rem;
            display: flex;
            background:none ;
            font-size: 1rem;
            cursor: pointer;
            font-weight: 500;
            padding: 10px 20px;
            border-radius: 8px;
            align-items: center;
            color: $primary-color;
            justify-content: center;
            border:1px solid #AFCDB3;
            font-family: $font-family-sans-serif;
        }
    }
}

@include when-screen-is-atleast(large){
    .main__content{
        >svg{
            width: 150px;
            height: 150px;
        }
        .buttons__group{
            width: auto;
            flex-direction: row;
            button{
                width: max-content;
            }
        }
    }
}

img {
  width: 13vw !important;
  height: 16vh !important;
  display: block;
  margin: 0 auto;
}

.dialog-icon {
  font-size: 24x;
}

.danger {
  border-color: red !important;
}

