<ng-container *ngIf="{ listenToChanges: listenToFormChanges$ | async,
                        signUp: signUp$ | async } as observables">
</ng-container>


<form [formGroup]="signUpForm" class="user__auth__form">
  <div class="input__wrapper">
    <label class="input__label">Account type</label>
    <div class="radio__buttons">
      <div class="radio__button">
        <input type="radio" formControlName="accountType" value="user"/>
        <label>Business</label>
      </div>
      <div class="radio__button">
        <input type="radio" formControlName="accountType" value="investor"/>
        <label>Investor</label>
      </div>
    </div>
  </div>
  <div class="flex gap-4 flex-col md:flex-row w-full">
  <div class="input__wrapper w-full">
    <label class="input__label">First Name</label>
    <input [ngClass]="{'input-error' : isTouchedOrDirty('firstName') && !isValid('firstName') }"
      formControlName="firstName" type="text" name="first__name" class="input__field" placeholder="Enter first name" />
    <ng-container *ngIf="isTouchedOrDirty('firstName')">
      <span *ngIf="!isValid('firstName')" class="error-text">First Name is required</span>
    </ng-container>
  </div>
  <div class="input__wrapper">
    <label class="input__label">Last Name</label>
    <input [ngClass]="{'input-error' : isTouchedOrDirty('lastName') && !isValid('lastName') }"
      formControlName="lastName" type="text" name="last__name" class="input__field" placeholder="Enter last name" />
    <ng-container *ngIf="isTouchedOrDirty('lastName')">
      <span *ngIf="!isValid('lastName')" class="error-text">Last Name is required</span>
    </ng-container>
  </div>
  </div>
  <div class="input__wrapper">
    <label class="input__label">Email</label>
    <input [ngClass]="{'input-error' : isTouchedOrDirty('email') && !isValid('email') }" formControlName="email"
      type="email" name="email" class="input__field" placeholder="Enter email" />
    <ng-container *ngIf="isTouchedOrDirty('email')">
      <span class="error-text">
        {{ getEmailFieldError ? 'Email is required' : !isValid('email') ? 'Please enter a valid email' : ''}}
      </span>

    </ng-container>

  </div>
  <div class="flex gap-4 flex-col md:flex-row w-full">
  <div class="input__wrapper w-full">
    <label class="input__label">Password</label>
    <input [ngClass]="{'input-error': isTouchedOrDirty('password') && !isValid('password') }" formControlName="password"
      type="password" name="password" class="input__field" placeholder="Enter password" />
    <ng-container *ngIf="isTouchedOrDirty('password')">
      <span *ngIf="!isValid('password')" class="error-text">Password is required</span>
    </ng-container>
  </div>
  <div class="input__wrapper">
    <label class="input__label">Confirm Password</label>
    <input [ngClass]="{'input-error': isTouchedOrDirty('password') && !passwordsAreSame}"
      formControlName="confirmPassword" type="password" name="confirm__password" class="input__field"
      placeholder="Enter password again" />
    <ng-container *ngIf="isTouchedOrDirty('confirmPassword')">
      <span *ngIf="!passwordsAreSame" class="error-text">
        Passwords do not match
      </span>

    </ng-container>
  </div>
  </div>
  <div class="flex items-center gap-2">
    <input type="checkbox" class="inline-block cursor-pointer" formControlName ='agreedToTAC'/>
    <label class="text-[#8C8C8C] inline-block text-[1rem] font-[400] accept-text">Accept our <a href="https://corporate.capitalconnect.africa/terms-and-conditions" class="text-[#064635]" target="_blank">terms and conditions</a></label>
  </div>
  <button [ngClass]="{'disabled-btn': signUpForm.invalid || !passwordIsValid}"
    [disabled]="signUpForm.invalid || !passwordIsValid" (click)="submitForm()" class="btn btn-primary">Create
    Account</button>
</form>
