@import '../../../../styles/main.scss';

.container {
  color: $primary-color;
}

.check {
  font-size: 12px;
  margin-top: 5px;
  color:$text-muted;
}

.account-type-selector {
  background: none;
}

