@import '../../../../styles/main.scss';

.container {
  color: $primary-color;
}

.check {
  font-size: 12px;
  margin-top: 5px;
  color:$text-muted;
}

.account-type-selector {
  background: none;
}

.error-text {
  color:$danger-color ;
  font-size:$font-size-xsm ;
}

.input-error {
  outline: 1px solid $danger-color;
}

