@import "../../../../../styles/main.scss";

.main__section{
  height: 350px;
  overflow: hidden;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../../../../../assets/img/adverts-bg.jpeg");
  box-shadow: 0 11px 20px 0 #0510371A;
  .overlay{
    gap: .5rem;
    height: 100%;
    display: flex;
    color: $white;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-end;
    font-family: $font-family-sans-serif;
    background-image: linear-gradient(to top, #040506, #1E202C00);
    h2{

    }
    .button{
      gap: 10px;
      color: $white;
      display: flex;
      cursor: pointer;
      font-weight: 500;
      width: max-content;
      text-align: center;
      border-radius: 6px;
      align-items: center;
      justify-content: center;
      background: $primary-color;
      padding: .75rem 1rem;
      font-family: $font-family-sans-serif;
      text-decoration: none;
      *{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span{
        font-size: 14px;
      }
    }
  }
}


