.card__item {
  gap: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  transform: translateY(-0.5rem);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;

  .card__item__header {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .card__item__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card__item__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 1rem;

    .user__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      h3 {
        font-size: 1.25rem;
        margin: 0;
      }

      p {
        margin: 0.25rem 0;
        color: #777;
      }
    }
  }
}
