@import '../../../styles/main.scss';

form{
  gap: 2rem;
    display: grid;
    grid-template-rows: auto max-content;
    .input__wrapper{
        .input__label{
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }
        a{

            font-size: 13px;
            color: $gray-550;
            font-weight: 400;
            line-height: 22px;
            width: max-content;
            display: inline-block;
            text-decoration: underline;
            text-decoration-style: dotted;
            font-family: $font-family-sans-serif;
        }

    }
  .radio__form{
    >div{
      gap: .5rem;
      display: flex;
      align-items: center;

      label{
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        font-family: $font-family-sans-serif;
      }
    }
  }
}

