@import '../../../styles/main.scss';

.container{
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    .content{
        gap: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: $font-family-sans-serif;
        .cta__group{
            gap: .75rem;
            display: flex;
            flex-direction: column;
            .btn{
                width: max-content;
            }
            .button__link{
                display: block;
                font-size: 14px;
                background: none;
                font-weight: 500;
                color: #064635;
                width: max-content;
                line-height: 17.09px;
                font-family: $font-family-sans-serif;
            }
        }
        h2{
            font-weight: 700;
            font-size: 1.8rem;
            color: $secondary-color;
        }
        p{
            font-weight: 400;
            font-size: 1.2rem;
            &.call__to__action{
                gap: .6rem;
                display: flex;
                font-size: .875rem;
                flex-direction: column;
                a{
                    display: block;
                    color: #000000;
                    padding: 0 .2rem;
                    text-decoration: none;
                    background-color: #FAEACE;
                }
            }
        }
        .radio__buttons{
            gap: .5rem;
            display: flex;
            flex-direction: column;
            font-family: $font-family-sans-serif;
            > label{
                display: block;
                font-weight: 700;
                font-size: 1rem;
                color: #000000;
            }
            .radio__form{
                gap: .5rem;
                display: flex;
                padding: 1.5rem;
                border-radius: .5rem;
                flex-direction: column;
                background-color: #EEF4EE;

                .input__field{
                    gap: .5rem;
                    display: flex;
                    align-items: center;

                    label{
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 22px;
                        font-family: $font-family-sans-serif;
                    }
                }
            }
        }
    }
}

@include when-screen-is-atleast(large){
    .container{
        padding: 3rem 0 0 0;
       .content{
            width: 40rem;

            h2{
                font-size: 2.875rem;
                line-height: 3.5rem;
            }

            p{
                line-height: 2rem;
                font-size: 1.5rem;
                &.call__to__action{
                    gap: .3rem;
                    flex-direction: row;
                }
            }
       }
       
    }
}