<ng-container *ngIf="investorProfiles$ | async"></ng-container>
<ng-container *ngIf="investorProfile$ | async"></ng-container>
<ng-container *ngIf="updateInvestorProfile$ | async"></ng-container>
<ng-container *ngIf="createInvestorProfile$  | async"></ng-container>
<ng-container *ngIf=" deleteInvestorProfile$  | async"></ng-container>


<div class="main">
  <div class="navbar">
    <app-navbar on_dashboard="true"></app-navbar>
  </div>

  <h2 class="text-end">
  <button (click)="createProfile()" class="btn btn-secondary">Create Investor Profile </button> 
  </h2>

  <main>
    <div class="left flex flex-col gap-12">
      <div class="table-parent flex flex-col gap-3 top-instance">
        <table class="table">
          <thead >
            <tr> 
              <th>Organization Name</th>
              <th>Email Address</th>
              <th>Maximum Funding</th>
              <th>Minimum Funding</th>
              <th>Investor Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>OrganizationName</td>
              <td>emailAddress</td>
              <td>maximumFunding</td>
              <td>minimumFunding</td>  
              <td>investorType</td>
              <td>
                <div class="p-[50px]">
                  <button (click)="viewProfile(1)" class="btn btn-secondary">View </button> 
                  <button class="btn btn-danger" (click)="deleteProfile(1)">Delete</button></div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <pagination-controls (pageChange)="pageChange($event)"></pagination-controls> -->
      </div>
    </div>
    <!-- <div class="right__col hidden">
      <button (click)="toggleNewBookingForm()" class="btn">Add New Booking</button>
      <div *ngIf="showNewBookingForm">
        <app-new-booking (bookingCreated)="onBookingCreated($event)"></app-new-booking>
      </div>
    </div> -->
  </main>
</div>



<app-modal [visible]="visible" title="Investor Profile" helperText="View The Full Investor Profile Details">
<div *ngIf="investorProfile" class="">
  <div class="">
    <div *ngIf="!editMode" class="space-y-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="label">
          <strong>Organization Name:</strong>
          <p>{{ investorProfile.organizationName }}</p>
        </div>
        <div class="label">
          <strong>Countries of Investment Focus:</strong>
          <p>{{ investorProfile.countriesOfInvestmentFocus.join(', ') }}</p>
        </div>
        <div class="label">
          <strong>Head Office Location:</strong>
          <p>{{ investorProfile.headOfficeLocation }}</p>
        </div>
        <div class="label">
          <strong>Email Address:</strong>
          <p>{{ investorProfile.emailAddress }}</p>
        </div>
        <div class="label">
          <strong>Contact Person:</strong>
          <p>{{ investorProfile.contactPerson }}</p>
        </div>
        <div class="label">
          <strong>Use of Funds:</strong>
          <p>{{ investorProfile.useOfFunds.join(', ') }}</p>
        </div>
        <div class="label">
          <strong>Maximum Funding:</strong>
          <p>{{ investorProfile.maximumFunding }}</p>
        </div>
        <div class="label">
          <strong>Minimum Funding:</strong>
          <p>{{ investorProfile.minimumFunding }}</p>
        </div>
        <div class="label">
          <strong>Sectors of Investment:</strong>
          <p>{{ investorProfile.sectorsOfInvestment.join(', ') }}</p>
        </div>
        <div class="label">
          <strong>Business Growth Stages:</strong>
          <p>{{ investorProfile.businessGrowthStages.join(', ') }}</p>
        </div>
        <div class="label">
          <strong>Investor Type:</strong>
          <p>{{ investorProfile.investorType }}</p>
        </div>
        <div class="label">
          <strong>Investment Structures:</strong>
          <p>{{ investorProfile.investmentStructures.join(', ') }}</p>
        </div>
        <div class="label">
          <strong>ESG Focus Areas:</strong>
          <p>{{ investorProfile.esgFocusAreas.join(', ') }}</p>
        </div>
        <div class="label">
          <strong>Registration Structures:</strong>
          <p>{{ investorProfile.registrationStructures.join(', ') }}</p>
        </div>
      </div>
    
      <button class="bg-blue-500 text-white px-4 py-2 rounded mt-4 btn" (click)="toggleEditMode()">Edit</button>
    </div>
    


    <div *ngIf="editMode" class="grid grid-cols-1 md:grid-cols-2 gap-4 px-5">
      <label class="input__label">
        <strong>Organization Name:</strong>
        <input [(ngModel)]="investorProfile.organizationName" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Countries of Investment Focus:</strong>
        <div class="form__col">
          <p-multiSelect 
            [(ngModel)]="investorProfile.countriesOfInvestmentFocus"
            [options]="countries"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Head Office Location:</strong>
        <input [(ngModel)]="investorProfile.headOfficeLocation" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Email Address:</strong>
        <input [(ngModel)]="investorProfile.emailAddress" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Contact Person:</strong>
        <input [(ngModel)]="investorProfile.contactPerson" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Use of Funds:</strong>
        <div class="form__col">
          <p-multiSelect 
            [(ngModel)]="investorProfile.useOfFunds"
            [options]="useOfFunds"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Maximum Funding:</strong>
        <input [(ngModel)]="investorProfile.maximumFunding" type="number" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Minimum Funding:</strong>
        <input [(ngModel)]="investorProfile.minimumFunding" type="number" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Sectors of Investment:</strong>
        <div class="form__col">
          <p-multiSelect 
            [(ngModel)]="investorProfile.sectorsOfInvestment"
            [options]="sectorsOfInvestment"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Business Growth Stages:</strong>
        <div class="form__col">
          <p-multiSelect 
            [(ngModel)]="investorProfile.businessGrowthStages"
            [options]="businessGrowthStages"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Investor Type:</strong>
        <input [(ngModel)]="investorProfile.investorType" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Investment Structures:</strong>
        <div class="form__col">
          <p-multiSelect 
            [(ngModel)]="investorProfile.investmentStructures"
            [options]="investmentStructures"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>ESG Focus Areas:</strong>
        <div class="form__col">
          <p-multiSelect 
            [(ngModel)]="investorProfile.esgFocusAreas"
            [options]="esgFocusAreas"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Registration Structures:</strong>
        <div class="form__col">
          <p-multiSelect 
            [(ngModel)]="investorProfile.registrationStructures"
            [options]="registrationStructures"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <div class="md:col-span-2 flex justify-end space-x-2">
        <button class="btn btn-secondary" (click)="updateProfile(1)">Update</button>
        <button class="btn btn-danger" (click)="toggleEditMode()">Cancel</button>
      </div>
    </div>
    
    
  </div>
</div>
</app-modal>


<!-- Create Investor Profile Modal -->
<app-modal [visible]="create_visible" title="Create New Investor Profile" helperText="Add Investor Details Here">
  <div class="">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-5">
      <label class="input__label">
        <strong>Organization Name:</strong>
        <input formControlName="organizationName" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Countries of Investment Focus:</strong>
        <div class="form__col">
          <p-multiSelect 
            formControlName="countriesOfInvestmentFocus"
            [options]="countries"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Head Office Location:</strong>
        <input formControlName="headOfficeLocation" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Email Address:</strong>
        <input formControlName="emailAddress" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Contact Person:</strong>
        <input formControlName="contactPerson" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Use of Funds:</strong>
        <div class="form__col">
          <p-multiSelect 
            formControlName="useOfFunds"
            [options]="useOfFunds"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Maximum Funding:</strong>
        <input formControlName="maximumFunding" type="number" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Minimum Funding:</strong>
        <input formControlName="minimumFunding" type="number" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Sectors of Investment:</strong>
        <div class="form__col">
          <p-multiSelect 
            formControlName="sectorsOfInvestment"
            [options]="sectorsOfInvestment"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Business Growth Stages:</strong>
        <div class="form__col">
          <p-multiSelect 
            formControlName="businessGrowthStages"
            [options]="businessGrowthStages"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Investor Type:</strong>
        <input formControlName="investorType" class="w-full p-2 border rounded">
      </label>
    
      <label class="input__label">
        <strong>Investment Structures:</strong>
        <div class="form__col">
          <p-multiSelect 
            formControlName="investmentStructures"
            [options]="investmentStructures"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>ESG Focus Areas:</strong>
        <div class="form__col">
          <p-multiSelect 
            formControlName="esgFocusAreas"
            [options]="esgFocusAreas"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <label class="input__label">
        <strong>Registration Structures:</strong>
        <div class="form__col">
          <p-multiSelect 
            formControlName="registrationStructures"
            [options]="registrationStructures"
            optionLabel="text"
            optionValue="id"
            class="input__field"
            styleClass="w-full gap-4"
            placeholder="Select option">
          </p-multiSelect>
        </div>
      </label>
    
      <div class="md:col-span-2 flex justify-end space-x-2">
        <button class="btn btn-secondary" (click)="saveProfile()">Save Investor Profile</button>
        <button class="btn btn-danger" (click)="toggleEditMode()">Cancel</button>
      </div>
    </div>
  </div>
</app-modal>

