<app-ui [title]="'Question'">
<div class="form__card">
  <form class="user__auth__form">
    <div class="input__wrapper">
      <div class="form__row">
        <div class="form__col">
          <label class="input__label">Sub-section<sup>*</sup></label>
          <select class="input__field">
            <option value="" disabled selected>Select sub-section</option>
          </select>
        </div>

      </div>
    </div>
    <div class="input__wrapper">
      <div class="form__row">
        <div class="form__col">
          <label class="input__label">Question<sup>*</sup></label>
          <input class="input__field" placeholder="enter question"/>
        </div>

      </div>
    </div>
    <div class="input__wrapper">
      <label class="input__label">Question Type<sup>*</sup></label>
      <div class="input__group">
        <div>
          <input type="radio" name="question-type" checked/>
          <label>Open Question</label>
        </div>
        <div>
          <input type="radio" name="question-type" />
          <label>Multiple Answers</label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="action__buttons" >
  <button class="btn__outline">Cancel</button>
  <div class="inline__cta">
    <button class="btn__outline">Go to Sub-Section</button>
    <button class="btn__primary">Create Question</button>
  </div>

</div>
</app-ui>
