@import '../../../../../styles/main.scss';
$indicator_size: 20px;

.status__container{
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  > h2{
    font-weight: 400;
    line-height: 40px;
    font-size: 1.5rem;
    font-family: $font-family-sans-serif;
  }
  .steps{
    width: 100%;
    display: flex;
    color: #0D0B26;
    justify-content: space-between;
    font-family: $font-family-roboto;

    li{
      flex: 1;
      position: relative;
      .indicator{
        opacity: .4;
        display: flex;
        position: relative;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        width: $indicator_size;
        height: $indicator_size;
        background-color: #FF5151;

      }
      &.done{
        .step__status{
          color: #22AD5C;
        }
        .indicator{
          opacity: 1;
          background-color: $secondary-color;
        }
      }
      &.active{
        .indicator{
          opacity: 1;
          border: 0.5px solid #FF5151;
          background-color: transparent;
          &::before{
            content: '';
            top: 50%;
            left: 50%;
            position: absolute;
            border-radius: 50%;
            background-color: #FF5151;
            transform: translate(-50%, -50%);
            width: calc($indicator_size - 10px);
            height: calc($indicator_size - 10px);
          }
        }
      }

      .content{
        gap: .3rem;
        display: flex;
        flex-direction: column;
        line-height: 20px;
        padding: 1rem 1.5rem 1rem 0;
        h3{
          font-size: 14px;
          font-weight: 500;
          padding-bottom: .6rem;
        }
        p{
          font-size: 12px;
          font-weight: 400;
          text-transform: capitalize;
        }
      }
      &::after{
        content: "";
        height: 1px;
        width: 80%;
        top: calc($indicator_size / 2);
        left: 15%;
        position: absolute;
        background-color: #CFD6DC;
      }
      &:last-child{
        &::after{
          display: none;
        }
      }
    }
  }
}
