<ng-container *ngIf="subsections$ | async"></ng-container>
<ng-container *ngIf="questions$ | async"></ng-container>

<app-ui [title]="'Answer'">
  <button class="btn btn-primary" (click)="createSection()">Create Section</button>

  <ng-container *ngIf="sections$ | async as sections">
      <mat-accordion>
        @for (section of sections; track $index) {
        <mat-expansion-panel (opened)="panelOpenState.set(true); fetchSubSections(section.id)"
          (closed)="panelOpenState.set(false)">

          <mat-expansion-panel-header>
            <mat-panel-title> {{section.name}}</mat-panel-title>
            <button (click)="createSubSection(section.id)" class="btn btn-success-alt">Add Subsection</button>
            <span class="dialog-icon" (click)="editSection(section.id)" ><mat-icon>edit</mat-icon></span>
          </mat-expansion-panel-header>

          <mat-accordion>
            @for (subsection of subsections; track $index) {
            <mat-expansion-panel (opened)="panelOpenState.set(true); fetchQuestions(subsection.id)"
              (closed)="panelOpenState.set(false)">
              <mat-expansion-panel-header>
                <mat-panel-title> {{subsection.name}}</mat-panel-title>
                <button (click)="createQuestion(subsection.id)" class="btn btn-success-alt">Add Question</button>
                <span class="dialog-icon" (click)="editSubSection(subsection.id, section.id)" ><mat-icon>edit</mat-icon></span>
              </mat-expansion-panel-header>
              <mat-accordion>

                @for (question of questions; track $index) {
                <mat-expansion-panel (opened)="panelOpenState.set(true);"
                  (closed)="panelOpenState.set(false)">
                  <mat-expansion-panel-header>
                    <mat-panel-title> {{question.text}}</mat-panel-title>
                    <button (click)="createAnswer(question.id)" class="btn btn-success-alt">Add Answers</button>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
                }

              </mat-accordion>

            </mat-expansion-panel>
            }

          </mat-accordion>

        </mat-expansion-panel>
        }
      </mat-accordion>
  </ng-container>
</app-ui>