<app-ui [title]="'Answer'">
  <button class="btn btn-primary" (click)="createSection()">Create Section</button>
  <section>
    <div class="nested__tree">
      <input type="checkbox" />
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <button (click)="toggleNode(node)" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </div>
          <div [class.tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container *ngIf="expandedNodeMap.get(node) | async as children">
              <mat-tree [dataSource]="children" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let child">
                  <div class="mat-tree-node leaf">
                    {{child.name}}
                  </div>
                </mat-tree-node>
                <mat-nested-tree-node *matTreeNodeDef="let child; when: hasChild">
                  <div class="mat-tree-node">
                    <button (click)="toggleNode(child)" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + child.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(child) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    {{child.name}}
                  </div>
                  <div [class.tree-invisible]="!treeControl.isExpanded(child)" role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </div>
                </mat-nested-tree-node>
              </mat-tree>
            </ng-container>
          </div>
        </mat-nested-tree-node>
        <mat-tree-node *matTreeNodeDef="let node">
          <div class="mat-tree-node leaf">
            {{node.name}}
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
    <div class="tree__score">
      <div>
        <h4>Total Section Points</h4>
        <p>30</p>
      </div>
    </div>
  </section>
</app-ui>
