/* organization-submissions-info.component.scss */

/* General styles for the component */
:host {
  display: block;
  margin: 1em 0;
}

/* Styles for the tab panels */
.p-tabview {
  margin-top: 1em;
}

/* Styles for the tab headers */
.p-tabview-nav {
  display: flex;
  justify-content: space-between;
}

.p-tabview-nav li {
  flex: 1;
  margin: 0 0.5em;
}

.p-tabview-nav li .p-tabview-nav-link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.75em 1em;
  border: 1px solid #007ad9;
  border-radius: 4px;
  background-color: transparent;
  color: #007ad9;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.p-tabview-nav li .p-tabview-nav-link:hover {
  background-color: #007ad9;
  color: #fff;
}

.p-tabview-nav li .p-tabview-nav-link.p-highlight {
  background-color: #007ad9;
  color: #fff;
}

/* Styles for the list of responses */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 40vh; /* Set max height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Styles for individual list items */
li {
  padding: 1em;
  border-bottom: 1px solid #ddd;
}

/* Styles for the question, answer, and explanation */
.card__item__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    align-items: start;

    label {
      font-weight: bold;
      margin-bottom: 0.25rem;
    }

    p {
      margin: 0.25rem 0;
      color: #555;
    }
  }
}

/* Styles for buttons */
.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  .btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s, width 0.2s, height 0.2s;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-text {
      display: none;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000;
      color: #fff;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      white-space: nowrap;
    }

    &:hover .btn-text {
      display: block;
    }

    &.btn-edit {
      background-color: #007bff;
      color: white;

      &:hover {
        background-color: #0056b3;
      }
    }

    &.btn-delete {
      background-color: #dc3545;
      color: white;

      &:hover {
        background-color: #a71d2a;
      }
    }

    &.btn-view-owner {
      background-color: #28a745;
      color: white;

      &:hover {
        background-color: #1e7e34;
      }
    }
  }
}
