<div class="main">
  <div class="navbar">
    <button (click)="toggleVisibility()"><mat-icon>menu</mat-icon></button>
    <app-navbar on_dashboard="true" />
  </div>

  <main>
    <p class="brand__name">Business Name</p>
    <div class="left__col">
      <app-profile-status />
      <app-overview-section />
      <app-schedules-section />
      <app-score-section />
    </div>
    <div class="right__col">
      <app-notifications />
      <app-assessment-summary />
      <app-advertisement-space />
    </div>
  </main>
</div>