@import "../../../../../styles/main.scss";

.main{
  height: 100%;
  display: grid;
  background-color: #F9FAFB;
  grid-template-rows: max-content auto;
  main{
    display: grid;
    padding: 1rem 2rem;
    grid-template-columns: auto 350px;

    .left__col,
    .right__col{
      width: 100%;
    }

    .right__col{
      gap: 2rem;
      display: flex;
      flex-direction: column;
    }
  }
}
