<form action="">
    <div class="input__wrapper">
        <label class="input__label">What is the value of assets held by the business? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Value of assets"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">How much debt, loans, and liabilities does the business hold? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Debt, Loans & Liabilities held"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Does the business have a current tax-compliant certificate? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <select class="input__field">
                <option value="">Tax compliant certificate</option>
            </select>
        </div>
    </div>
</form>