@import "../../../../../styles/main.scss";

.overview__section{
  .title__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2{
      font-weight: 400;
      font-size: 2rem;
      font-family: $font-family-sans-serif;
    }

    select{
      display: block;
      cursor: pointer;
      border-radius: 1rem;
      padding: .5rem 1rem;
      background-color: #eef4ee;
    }
  }
  .cards__grid{
    gap: 2rem;
    display: grid;
    padding: 1.5rem 0;
    grid-template-columns: repeat(2, 1fr);

    .helper__text{
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;

      &.text__yellow{
        color: $yellow-500;
      }
      &.text__red{
        color: $danger-color;
      }
    }
  }
}
