<form action="">
    <div class="input__wrapper">
        <label class="input__label">Do you have a valuation range in mind if you are considering an equity structured transaction? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Value of assets"/>
            <select class="input__field">
                <option value="">Select currency</option>
            </select>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Have you reviewed the required Due Diligence questions, information requirements and conditions that the investor may have to ensure you have a successful fund raise? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <input class="input__field" type="number" placeholder="Debt, Loans & Liabilities held"/>
        </div>
    </div>
    <div class="input__wrapper">
        <label class="input__label">Does the business have a current tax-compliant certificate? <sup>*</sup></label>
        <a href="">Why do we ask this?</a>
        <div class="form__row">
            <select class="input__field">
                <option value="">Tax compliant certificate</option>
            </select>
        </div>
    </div>
</form>