@import "../../../styles/main";

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid $white;
  border-radius: 50%;
  border-color: $gray-400 $white;
  animation: l16 1s infinite linear;
  z-index: 30001;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: $secondary-color $white;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}

.loader-container {
  z-index: 3000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
