@import "../../../../../styles/main.scss";

section{
  gap: .75rem;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $white;
  flex-direction: column;
  box-shadow: 0 3.5px 5.5px 0 rgba($black, 0.02);
  .notifications{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    .cta__buttons{
      gap: .5rem;
      display: flex;
      button{
        display: flex;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        background: none;
        align-items: center;
        justify-content: center;
        font-family: $font-family-sans-serif;
        &.red{
          color: $primary-color;
        }
        &.green{
          color: $danger-color;
        }
      }
    }
  }
  h2{
    color: #2D3748;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2.5rem;
    font-family: $font-family-sans-serif;
  }
}
